@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';

@keyframes shake {
  0% {
    transform: translateX(-1px -1px);
  }
  20% {
    transform: translateY(-1px);
  }
  30% {
    transform: translate(1px 1px);
  }
  40% {
    transform: translateY(1px);
  }
}
